.agenda {
  margin: 30px;
}

.results {
  display: none;
  margin: 30px;
}

ul {
  margin: 20px;
}

span[class^="day-"]:hover {
  cursor: pointer;
  color: rgb(165, 165, 165);
  text-decoration: underline;
}
